<div class="accounts-container">
    <img class="user-avatar" src="{{userData.logo}}" alt="">
    <div class="user-container">
        <p class="user-names">{{userData.name}} {{userData.surname}}</p>
        <p class="user-email">Email: {{userData.email}}</p>
        <p class="user-role">Role: {{userData.role}}</p>
    </div>
    <div class="accounts-btns">
<!--        <button class="edit-btn">Редактировать</button>-->
        <button onclick="exitFromAccount()" class="exit-btn">Выход</button>
    </div>
</div>
